
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

    --body-font-size: 0.875em;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--off-black);
}
.card {
    background-color: var(--dark-grey);
    text-align: center;
    padding: 1.5em;
    color: var(--white);
}

.card img {
    border-radius: 100px;
    margin: auto;
}

footer {
    position: absolute;
    bottom: 0;
}

.links-list li {
    list-style: none;
    background-color: var(--grey);
    border: 0px solid red;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 10px;
}


/* custom google font */
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}