
:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);

    --body-font-size: 0.875em;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--off-black);
   font-size: var(--body-font-size);
}
.card {
    background-color: var(--dark-grey);
    border-radius: 10px;
    text-align: center;
    padding: 1.9em;
    width: 350px;
    color: var(--white);
}

.card img {
    border-radius: 100px;
    margin: auto;
    width: 80px;
}

footer {
    position: absolute;
    bottom: 0;
    color: var(--white);
}

.links-list {
    padding-left: 0px;
}

.links-list li {
    list-style: none;
    background-color: var(--grey);
    border-radius: 6px;
    padding: 10px 0px;
    margin-bottom: 10px;
}
.links-list li:is(:hover, :focus)  {
    background-color: var(--green);
    cursor: pointer;
}


.links-list li a {
    text-decoration: none;
}

.location {
    color: var(--green);
    font-size: 12px;
    margin-top: 8px;

}

/* custom google font */
.inter-400 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-700 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}